*{
    box-sizing: border-box;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
img{
    max-width: 100%;
    display: inline-block;
}
div{
    display: block;
}
body{
    font-family: 'DM Sans';
    background-color: var(--dark-blue-color);
}
:root{
    --white-color: #ffffff;
    --black-color: #191d34;
    --blue-color: #0328ee;
    --dark-blue-color: #010725;
    --navy-blue-color: #010d50; 

}
.col-1{
    width: 8.333%;    
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.32%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding: 0px 15px;
}
.container{
    max-width: 1320px;
    padding: 0px 15px;
    margin:0px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-item-center{
    align-items: center;
}
/* header */
.header {
    background-color: var(--dark-blue-color);
    padding: 33px 133px; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: auto;
    padding: 0 24px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-weight: bold;
    font-size: 20px; 
}

.logo-text {
    margin-left: 10px; 
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    color: var(--white-color);
    font-weight: 500;
    font-size: 14px; 
    letter-spacing: 1.4px;
    margin-left: 32px; 
    text-transform: uppercase;
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 0;
    right: 0;
    height: 0px; 
    background-color: var(--white-color); 
    opacity: 0; 
    transition: opacity 0.3s ease, height 0.3s ease;
}

.nav-item:hover::after {
    opacity: 1;
    height: 2px; 
}

.btn {
    padding: 20px 32px;
    border: none;
    border-radius: 80px; 
    color: var(--white-color);
    background-color: var(--blue-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px; 
    letter-spacing: 1.6px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #021dbb;
}
