<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: inline-block;
}

div {
    display: block;
}

body {
    font-family: 'DM Sans';
    background-color: var(--dark-blue-color);
    overflow-x: hidden;
}

:root {
=======
*{
    box-sizing: border-box;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
img{
    max-width: 100%;
    display: inline-block;
}
div{
    display: block;
}
body{
    font-family: 'DM Sans';
    background-color: var(--dark-blue-color);
}
:root{
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    --white-color: #ffffff;
    --black-color: #191d34;
    --blue-color: #0328ee;
    --dark-blue-color: #010725;
<<<<<<< HEAD
    --navy-blue-color: #010d50;

}

.col-1 {
    width: 8.333%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.32%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0px 15px;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-item-center {
    align-items: center;
}

.l-40 {
    position: relative;
    left: 40px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-150 {
    padding-top: 150px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.text-align-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

=======
    --navy-blue-color: #010d50; 

}
.col-1{
    width: 8.333%;    
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.32%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding: 0px 15px;
}
.container{
    max-width: 1320px;
    padding: 0px 15px;
    margin:0px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-item-center{
    align-items: center;
}

>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
/* header */

.header {
    background-color: transparent;
<<<<<<< HEAD
    padding: 40px 130px;
=======
    padding: 40px 130px; 
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: auto;
    padding: 0 24px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-weight: bold;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 20px; 
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    position: relative;
    right: 35px;
}

<<<<<<< HEAD
.header .navbar .logo {
=======
.header .navbar .logo{
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    margin-left: 0px;
    margin-right: 50px;
}

<<<<<<< HEAD
.header .navbar .btn-primary {
    margin-right: 0px;
}

.header .navbar .navbar-nav {
    margin-left: 0px;
}

.logo-text {
    margin-left: 10px;
}


.nav-line {
=======
.header .navbar .btn-primary{
    margin-right: 0px;
}

.header .navbar .navbar-nav{
    margin-left: 0px;
}
.logo-text {
    margin-left: 10px; 
}


.nav-line{
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    width: 1px;
    position: relative;
    background-color: #010e50;
    height: 66px;
    right: 55px;
    margin: 0px;
}
<<<<<<< HEAD

=======
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
.navbar-nav {
    display: flex;
    align-items: center;
    position: relative;
    right: 60px;
}

.nav-item {
    color: var(--white-color);
    font-weight: 500;
<<<<<<< HEAD
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-left: 32px;
=======
    font-size: 14px; 
    letter-spacing: 1.4px;
    margin-left: 32px; 
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    text-transform: uppercase;
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
<<<<<<< HEAD
    bottom: 0px;
    left: 0;
    right: 0;
    height: 0px;
    background-color: var(--white-color);
    opacity: 0;
=======
    bottom: -10px; 
    left: 0;
    right: 0;
    height: 0px; 
    background-color: var(--white-color); 
    opacity: 0; 
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    transition: opacity 0.3s ease, height 0.3s ease;
}

.nav-item:hover::after {
    opacity: 1;
<<<<<<< HEAD
    height: 1px;
}

.btn {
    padding: 22px 30px;
    border: none;
    border-radius: 80px;
=======
    height: 2px; 
}

.btn {
    padding: 18px 32px;
    border: none;
    border-radius: 80px; 
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    color: var(--white-color);
    background-color: var(--blue-color);
    text-transform: uppercase;
    font-weight: 700;
<<<<<<< HEAD
    font-size: 16px;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 0;
    position: relative;
}

.btn:hover {
    background-color: #031FB4;
}

.btn-2 {
    padding: 20px 32px;
    border: none;
    border-radius: 80px;
=======
    font-size: 16px; 
    letter-spacing: 1.6px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    z-index: 0;
}
.btn:hover{
    background-color: #0924be;
}
.btn-2 {
    padding: 20px 32px;
    border: none;
    border-radius: 80px; 
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    color: var(--white-color);
    background-color: rgba(164, 156, 156, 0.144);
    text-transform: uppercase;
    font-weight: 700;
<<<<<<< HEAD
    font-size: 16px;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-2:hover {
    background-color: var(--blue-color);
}

.btn-3 {
    padding: 20px 32px;
    border: none;
    border-radius: 80px;
    color: var(--blue-color);
    background-color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 211px;
    margin: 0;
    position: relative;
}

/* main-section */

.main-page {
    padding-top: 90px;
}

.main-page .box {
=======
    font-size: 16px; 
    letter-spacing: 1.6px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

/* main-page */

.main-page{
    padding-top: 220px;
    /* background-image: url(../img/main-laptop.png); */
    background-size: contain;
    height: 1000px;
    object-fit: cover;
    background-repeat: no-repeat;
}
.main-page .box{
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    position: absolute;
    top: 10%;
    height: 2px;
    width: 2px;
    border-radius: 50%;
<<<<<<< HEAD
    background-color: #050e36;
    box-shadow: 50px 50px 400px 400px #050e36;
    z-index: -999;
}

.main-page .box-2 {
=======
    background-color: transparent;
    box-shadow: 50px 50px 400px 400px #050e36;
    z-index: -999;
}
.main-page .box-2{
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    position: absolute;
    top: 70%;
    right: 13%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
<<<<<<< HEAD
    background-color: #0326ee39;
    box-shadow: 30px 30px 200px 200px #0326ee39;
    z-index: -999;
}

.box-3 {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 73%;
    height: 2px;
    width: 2px;
    background-color: #0328ee;
    box-shadow: 0px 0px 250px 250px #2d41b447;
    z-index: -999;
}

.box-4 {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 73%;
    height: 2px;
    width: 2px;
    background-color: transparent;
    box-shadow: 0px 0px 250px 250px #2d41b447;
    z-index: -999;
}

.main-page .col-7 .caption h1 {
    color: var(--white-color);
    line-height: 1.3;
    font-size: 62px;
    letter-spacing: -2px;
    font-weight: 700;
}

.main-page .col-7 .caption p {
=======
    background-color: transparent;
    box-shadow: 50px 50px 300px 300px #0326ee39;
    z-index: -999;
}
.main-page .col-7 .caption h1{
    color: var(--white-color);
    line-height: 1.3;
    font-size: 65px;
    font-weight: 700;
}
.main-page .col-7 .caption p{
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--white-color);
    padding-right: 151px;
}
<<<<<<< HEAD

.main-page .caption .btn-section {
    padding: 70px 0px;
}

.main-page .caption .btn-section .btn {
    margin-right: 25px;
}

.main-page .col-5 .laptop img {
    width: 956px;
    height: 529px;
}

.main-page .col-5 .laptop {
    position: absolute;
    top: 30%;
    background-position: 0 0;
}

/* company section */

.cust-col {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.cust-col a {
    color: var(--white-color);
    font-size: 29px;
}

.cust-col img {
    height: 23px;
    width: 40px;
    margin-right: -30px;
    margin-top: 10px;
}

.logo-2 img {
    height: 23px;
    width: 30px;
}

.company-area .col-12 p {
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
}

/* portfolio */

section .portfolio .portfolio-heading h2 {
    color: var(--white-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
}

section .portfolio .portfolio-heading p {
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
}

section .portfolio .portfolio-heading .portfolio-content {
    padding: 13px 381px;
}

section .portfolio .col-3 .send {
    background-color: var(--navy-blue-color);
    border-radius: 40px;
    padding: 50px 25px;
    height: 295px;
    position: relative;
}

section .portfolio .col-3 {
    padding: 0px;
    margin: 0px;
}

section .portfolio .col-3 .wallet {
    margin-top: 30px;
    margin-bottom: 0px;
}

section .portfolio .col-3 .send img {
    height: 68px;
    width: 68px;
}

section .portfolio .col-3 .send h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: 700;
    color: var(--white-color);
    letter-spacing: 1px;
    padding: 15px 0px 10px 0px;
}

section .portfolio .col-3 .send p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: var(--white-color);
}

section .portfolio .col-5 .app {
    height: 622px;
    background-color: var(--blue-color);
    border-radius: 40px;
    padding: 40px 20px;
}

section .portfolio .col-5 {
    padding: 0px;
    margin: 0px 25px;
}

section .portfolio .col-5 .app h2 {
    color: var(--white-color);
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 30px;
}

section .portfolio .col-5 .app p {
    color: var(--white-color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-right: 65px;
}

section .portfolio .col-5 .app .phone-img {
    /* padding: 0px 40px; */
    height: 500px;
    position: relative;
}

section .portfolio .col-5 .app {
    overflow: hidden;
}

section .portfolio .col-5 .app .phone-img img {
    position: absolute;
    /* bottom: 0%; */
    width: 360px;
    right: 12%;
}

section .portfolio .col-12 {
    padding-top: 70px;
}

/* earn-sec1 */
.img img {
    width: 501.47px;
    height: 591.28px;
}

.earn-sec1 .caption {
    padding-top: 100px;
}

.detail .list {
    margin-top: 30px;
    display: flex;
}

.detail .list p {
    margin: 3.5px 0px;
}

.caption h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 55.02px;
    color: var(--white-color);
}

.caption p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--white-color);
}

.detail .list img {
    width: 46px;
    height: 46px;
    margin: 0px 15px;

}

/* earm-sec-2 */
.earn-sec2 .col-7 img {
    width: 971px;
    height: 585px;
    position: relative;
    left: 105px;
}

/* explore */
.explore {
    padding-top: 100px;
    width: 100%;
    height: 513px;
    background-color: var(--blue-color);
}

.section-padding {
    padding-top: 150px;

}

.explore h2 {
    color: var(--white-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 55.02px;
}

.explore p {
    font-size: 18px;
    color: var(--white-color);
    font-weight: 400;
    line-height: 32px;
}

.mt-30 {
    margin-top: 30px;
}

.explore .img img {
    position: relative;
    bottom: 187px;
    width: 592px;
    height: 600px;
}

/* slider */

section .slider .slider-heading h2 {
    color: var(--white-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    margin: 0px;
}

section .slider {
    overflow: visible;
}

section .slider .slider-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

section .slider .slider-heading a {
    margin: 0px;
}

section .slider .col-12 {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

section .slider .col-12 .slider-mathakut {
    display: flex;
    position: relative;
    overflow: visible;
    overflow-x: hidden;
}

section .slider .col-12 .slider-caption {
    background-color: var(--navy-blue-color);
    border-radius: 30px;
    padding: 50px 107px 50px 50px;
    margin: 0px 13px;
    height: 310px;
    width: 545px;
}

section .slider .col-12 .slider-caption .char-info {
    position: relative;
}

section .slider .col-12 .slider-caption .char-info {
    margin-top: 25px;
    /* padding-bottom: 50px; */
}

section .slider .col-12 .slider-caption .char-info img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

section .slider .col-12 .slider-caption .char-info h4 {
    color: var(--white-color);
    position: absolute;
    top: 10%;
    left: 18%;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

section .slider .col-12 .slider-caption .char-info p {
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 18%;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

section .slider .col-12 .slider-caption .char-info .role {
    color: var(--white-color);
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

section .slider .col-12 .slider-mathakut .margin-left {
    /* margin-left: -440px; */
    position: absolute;
    left: -33.5%;
}

section .slider .col-12 .slider-mathakut .col-5 {
    margin: 0px;
    padding: 0px;
}

section .slider .col-12 .slider-mathakut .col-5 .blur-box {
    background-color: var(--navy-blue-color);
    opacity: 0.2;
    border-radius: 30px;
}

section .slider .col-12 .slider-mathakut .margin-right {
    position: absolute;
    right: -34%;
}

section .slider .col-12 p {
    font: 18px;
    line-height: 32px;
    font-weight: 400;
    color: var(--white-color);
}

section .slider .slider-dot {
    display: flex;
    justify-content: center;
    margin: 45px auto;
}

section .slider .slider-dot .circle {
    margin-top: 50px;
    height: 14px;
    width: 14px;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 50%;
    margin: 0px 8px;
}

section .slider .slider-dot .circle-white {
    background-color: var(--white-color);
}

/* video-section */
.video-sec .col-7 img {
    position: relative;
    top: 60px;
}

.video-btn {
    height: 100px;
    width: 100px;
    background-color: var(--black-color);
    position: relative;
    bottom: 195px;
    border-radius: 50%;
    cursor: pointer;

}

.video-sec .caption {
    padding-top: 100px;
}

.icon-play {
    font-size: 50px;
    position: absolute;
    left: 35px;
    top: 24px;
}

.icon-play::before {
    transition: 0.2s all ease;
}

.video-btn:hover .icon-play::before {
    color: var(--blue-color);
}

/* news-section */
.news-sec .title h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 55.02px;
    color: var(--white-color);
}

.news-sec .title p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--white-color);
}

.card {
    margin-top: 50px;
    background-color: var(--navy-blue-color);
    border-radius: 40px;
    overflow: hidden;
}

.card .card-cap {

    margin-left: 20px;
}

.card .card-cap h3 {
    color: var(--white-color);
    font-size: 22px;
    line-height: 31px;
    font-weight: 700;
    margin-top: 30px;
}

.card .card-cap p {
    color: var(--white-color);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 20px;
}

.card-cap hr {
    height: 2px;
    width: 340px;
    position: relative;
    right: 12px;
    background-color: var(--blue-color);
    border-style: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-detail img {
    border-radius: 50%;
    height: 60px;
    width: 60px;

}

.card-detail .cap h3 {
    display: flex;
}

/* download */

section .download .our-app {
    margin-bottom: 40px;
}

section .download .our-app h2 {
    color: var(--white-color);
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    margin: 0px;
}

section .download .our-app p {
    color: var(--white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0px;
}

section .download .our-app {
    display: flex;
    justify-content: space-between;
}

section .download .app {
    height: 700px;
    background-color: var(--navy-blue-color);
    border-radius: 40px;
    padding: 40px 30px;
    overflow: hidden;
    margin: 0px 36px 0px 0px;
}

section .download .app-2 {
    margin: 0px 0px 0px 36px;
}

section .download .col-6 {
    padding: 0px;
}

section .download .app h2 {
    color: var(--white-color);
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 16px;
}

section .download .app p {
    color: var(--white-color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-right: 78px;
}

section .download .app .button {
    margin: 40px 0px 20px 0px;
    height: 57px;
}

section .download .app .button i {
    font-size: 22px;
}

section .download .app .button .fa-google-play {
    font-size: 20px;
}

section .download .app .phone-img {
    height: 500px;
    position: relative;
}

section .download .app .phone-img img {

    width: 458px;
    right: 5%;
}

section .download .app .phone-img .ios {
    position: absolute;
    bottom: -16%;
}

section .download .app .phone-img .android {
    position: absolute;
    bottom: 14%;
}
=======
.main-page .caption .btn-section{
    padding: 70px 0px;
}
.main-page .caption .btn-section .btn{
    margin-right: 25px;
}
.main-page .col-5 .laptop img{
    
    /* width: 774px; */
}
.main-page .col-5 .laptop{
    position: absolute;
    top: 30%;
}
>>>>>>> a2fa9f8df58705e039315ff52ab4931241e90855
